/* fondo general */

body {
    background-color: #cad0d7 !important;
    margin: 0;
    padding: 0;
}


/* HEADER */

.erp-header{
background:rgb(69, 67, 62);
border-bottom:1px solid #E5E9F0;
padding:0.8rem 0;
}

.erp-logo{
font-weight:600;
font-size:1.15rem;
color:#2F5D8C;
}

.erp-nav{
text-align:center;
}

.erp-nav a{
margin:0 0.9rem;
color:#5f6c7b;
font-size:0.95rem;
text-decoration:none;
}

.erp-nav a:hover{
color:#2F5D8C;
}



/* HERO */

.hero{
padding:4rem 0;
text-align:center;
}

.hero-title{
font-size:2.2rem;
font-weight:600;
color:#2F5D8C;
}

.hero-subtitle{
margin-top:1rem;
color:#6b7785;
font-size:1.1rem;
max-width:520px;
margin-left:auto;
margin-right:auto;
}



/* TARJETAS */

.module-card{
background:white;
border:1px solid #E5E9F0;
border-radius:10px;
padding:1.6rem;
text-align:center;
transition:all .15s ease;
}

.module-card:hover{
transform:translateY(-4px);
box-shadow:0 10px 18px rgba(204, 186, 186, 0.06);
}

.module-title{
font-weight:600;
color:#2F5D8C;
}

.module-text{
color:#6b7785;
font-size:0.95rem;
margin-bottom:1.2rem;
}



/* INFO BOX */

.info-section{
margin-top:3rem;
margin-bottom:3rem;
background:white;
border:1px solid #E5E9F0;
border-radius:10px;
padding:2rem;
text-align:center;
}

/* Forzar alineación en tablas de GesRes */
.text-center-force {
    text-align: center !important;
}

.text-right-force {
    text-align: right !important;
}

/* Para que los números queden alineados verticalmente entre sí */
.td-numeric {
    text-align: center !important;
    font-variant-numeric: tabular-nums; /* Esto hace que los números midan lo mismo */
}

tbody tr:hover {
    background-color: #8db0d3 !important;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

