{% extends 'base.html' %}
{% load static %}

{% block title %} GesRes | Agregar Ingrediente {% endblock title %}

{% block content %}
{% include 'includes/header3.html' %}

<div class="grid-container page-layout form-container-wrapper">

  <div class="grid-x align-center">
    <div class="cell small-12 medium-8 large-6">

      <!-- HEADER -->
      <div class="text-center header-module">
        <h2 class="hero-title m-0">
          Agregar Ingrediente
        </h2>
        <p class="module-desc">
          Incorpora una nueva materia prima a la composición de la receta
        </p>
      </div>

      <!-- FORM -->
      <div class="form-card card-shadow">
        
        <form method="post">
          {% csrf_token %}

          <div class="grid-x grid-margin-x">
            
            <!-- PRODUCTO -->
            <div class="cell small-12 form-cell">
              <label class="form-label-custom">
                {{ form.producto.label }}
              </label>
              {{ form.producto }}
              {% if form.producto.errors %}
                <span class="form-error">
                  {{ form.producto.errors.0 }}
                </span>
              {% endif %}
            </div>

            <!-- CANTIDAD -->
            <div class="cell small-12 form-cell">
              <label class="form-label-custom">
                {{ form.cantidad.label }} (KG)
              </label>
              {{ form.cantidad }}
              {% if form.cantidad.errors %}
                <span class="form-error">
                  {{ form.cantidad.errors.0 }}
                </span>
              {% endif %}
            </div>

            <!-- ACTIONS -->
            <div class="cell small-12">
              <button type="submit" class="button btn-form btn-save expanded shadow mb-1">
                Agregar Ingrediente
              </button>
            </div>

            <div class="cell small-12 text-center">
                <a href="{% url 'produccion_app:detail_receta' view.kwargs.pk %}" 
                   class="detail-label">
                  ← Volver a la Receta
                </a>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>

{% endblock content %}