<div class="title-bar erp-header" data-responsive-toggle="responsive-menu-ventas" data-hide-for="medium">
    <div class="grid-container header-container">
        <button class="menu-icon" type="button" data-toggle="responsive-menu-ventas"></button>
        <div class="title-bar-title ml-1">
            <a href="{% url 'ventas_app:Inicio' %}" class="erp-logo">
                GesRes <span class="logo">Ventas</span>
            </a>
        </div>
    </div>
</div>

<div class="erp-header" id="responsive-menu-ventas">
    <div class="grid-container">
        <div class="grid-x align-middle">
            
            <!-- LOGO DESKTOP -->
            <div class="cell shrink show-for-medium">
                <a href="{% url 'ventas_app:Inicio' %}" class="erp-logo mr-2">
                    GesRes <span class="logo">Ventas</span>
                </a>
            </div>

            <!-- NAV -->
            <div class="cell medium-auto small-12">
                <ul class="vertical medium-horizontal menu erp-nav" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="{% url 'ventas_app:all_platos' %}">Platos / Carta</a></li>
                    <li><a href="{% url 'ventas_app:all_ventas' %}">Ventas</a></li>
                    <li><a href="{% url 'ventas_app:dashboard' %}">Dashboard</a></li>
                </ul>
            </div>

            <!-- SWITCH MODULE -->
            <div class="cell medium-shrink small-12">
                <a href="#" class="button small hollow btn-nav-switch expanded medium-unexpanded mt-mobile mb-2">
                    Ir a Finanzas →
                </a>
            </div>

        </div>
    </div>
</div>