<div class="title-bar erp-header" data-responsive-toggle="responsive-menu-rh" data-hide-for="medium">
    <div class="grid-container header-container">
        <button class="menu-icon" type="button" data-toggle="responsive-menu-rh"></button>
        <div class="title-bar-title ml-1">
            <a href="{% url 'persona_app:Inicio' %}" class="erp-logo">
                GesRes <span class="logo">RH</span>
            </a>
        </div>
    </div>
</div>

<div class="erp-header" id="responsive-menu-rh">
    <div class="grid-container">
        <div class="grid-x align-middle">
            
            <!-- LOGO DESKTOP -->
            <div class="cell shrink show-for-medium">
                <a href="{% url 'persona_app:Inicio' %}" class="erp-logo mr-2">
                    GesRes <span class="logo">RH</span>
                </a>
            </div>

            <!-- NAV -->
            <div class="cell medium-auto small-12">
                <ul class="vertical medium-horizontal menu erp-nav" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="{% url 'persona_app:empleados_all' %}">Empleados</a></li>
                    <li><a href="{% url 'departamento_app:all_departamentos' %}">Departamentos</a></li>
                    <li><a href="{% url 'persona_app:mostrar-puestos' %}">Puestos</a></li>
                    <li><a href="{% url 'persona_app:mostrar-dashboard' %}">Dashboard</a></li>
                </ul>
            </div>

            <!-- ACTION -->
            <div class="cell medium-shrink small-12">
                <a href="#" 
                   class="button small hollow btn-nav-switch expanded medium-unexpanded mt-mobile mb-2">
                    Volver al Inicio →
                </a>
            </div>

        </div>
    </div>
</div>