<div class="title-bar erp-header" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="grid-container header-container">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title ml-1">
            <a href="{% url 'stock_app:Inicio' %}" class="erp-logo">
                GesRes <span class="logo">Stock</span>
            </a>
        </div>
    </div>
</div>

<div class="erp-header" id="responsive-menu">
    <div class="grid-container">
        <div class="grid-x align-middle">
            
            <div class="cell shrink show-for-medium">
                <a href="{% url 'stock_app:Inicio' %}" class="erp-logo mr-2">
                    GesRes <span class="logo">Stock</span>
                </a>
            </div>

            <div class="cell medium-auto small-12">
                <ul class="vertical medium-horizontal menu erp-nav" data-responsive-menu="accordion medium-dropdown">
                    <li class="has-submenu">
                        <a href="{% url 'stock_app:all_productos' %}">Materia Prima</a>
                        <ul class="submenu menu vertical card-shadow" data-submenu>
                            {% for clasificacion in clasificaciones_menu %}
                                {% if clasificacion.nombre != "Otros varios" %}
                                    <li><a href="{% url 'stock_app:productos_por_clasificacion' clasificacion.id %}">{{ clasificacion.nombre }}</a></li>
                                {% endif %}
                            {% empty %}
                                <li class="disabled"><a href="#">No hay clasificaciones</a></li>
                            {% endfor %}

                            {% for clasificacion in clasificaciones_menu %}
                                {% if clasificacion.nombre == "Otros varios" %}
                                    <li class="divider-top"><a href="{% url 'stock_app:productos_por_clasificacion' clasificacion.id %}">{{ clasificacion.nombre }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <li><a href="{% url 'stock_app:all_clasificaciones' %}">Clasificaciones</a></li>
                    <li><a href="{% url 'stock_app:all_proveedores' %}">Proveedores</a></li>

                    <li class="has-submenu">
                        <a href="#">Transacciones</a>
                        <ul class="submenu menu vertical card-shadow" data-submenu>
                            <li><a href="{% url 'stock_app:all_compras' %}">Compras</a></li>
                            <li><a href="{% url 'stock_app:all_consumos' %}">Consumos</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'stock_app:dashboard' %}">Dashboard</a></li>
                </ul>
            </div>

            <div class="cell medium-shrink small-12">
                <a href="{% url 'produccion_app:Inicio' %}" 
                class="button small hollow btn-nav-switch expanded medium-unexpanded"
                style="margin-top: 1rem;">
                    Ir a Producción →
                </a>
            </div>

        </div>
    </div>
</div>