<div class="erp-header">
    <div class="grid-container">
        <div class="grid-x align-middle">
            
            <div class="cell small-4">
                <a href="{% url 'produccion_app:Inicio' %}" class="erp-logo" style="margin-left: -100px;">
                    GesRes Producción
                </a>
            </div>

            <div class="cell small-4 text-center">
                <nav class="erp-nav">
                    <a href="{% url 'produccion_app:all_produccion' %}">Operaciones</a>
                    <a href="{% url 'produccion_app:all_receta' %}">Recetas</a>
                    <a href="{% url 'produccion_app:dashboard' %}">Dashboard</a>
                </nav>
            </div>

            <div class="cell shrink">
                <a href="{% url 'stock_app:Inicio' %}" class="button small hollow primary shadow-sm" style="margin-bottom: 0; margin-left: 298px; border-radius: 6px;">
                    Ir a Stock →
                </a>
            </div>

        </div>
    </div>
</div>