<div class="title-bar erp-header" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="grid-container header-container">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title ml-1">
            <a href="{% url 'produccion_app:Inicio' %}" class="erp-logo">
                GesRes <span class="logo">Producción</span>
            </a>
        </div>
    </div>
</div>

<div class="erp-header" id="responsive-menu">
    <div class="grid-container">
        <div class="grid-x align-middle">
            
            <!-- LOGO DESKTOP -->
            <div class="cell shrink show-for-medium">
                <a href="{% url 'produccion_app:Inicio' %}" class="erp-logo mr-2">
                    GesRes <span class="logo">Producción</span>
                </a>
            </div>

            <!-- NAV -->
            <div class="cell medium-auto small-12">
                <ul class="vertical medium-horizontal menu erp-nav" data-responsive-menu="accordion medium-dropdown">

                    <li>
                        <a href="{% url 'produccion_app:all_produccion' %}">
                            Operaciones
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'produccion_app:all_receta' %}">
                            Recetas
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'produccion_app:dashboard' %}">
                            Dashboard
                        </a>
                    </li>

                </ul>
            </div>

            <!-- BOTÓN CAMBIO -->
            <div class="cell medium-shrink small-12">
                <a href="{% url 'stock_app:Inicio' %}" 
                   class="button small hollow btn-switch expanded medium-unexpanded"
                   style="margin-top: 1rem;">
                    Ir a Stock →
                </a>
            </div>

        </div>
    </div>
</div>