<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Departamento</title>
</head>
<body>
    <h1>Nuevo Departamento Con Empleado Anashe</h1>
    <h3>Una view, con dos modelos diferenes solicitados a la vez (departamento y empleado)</h3>
    <form method="post">{% csrf_token %}
        <h3>Datos Empleado</h3>
        <p>Nombre: {{ form.nombre }}</p>
        <p>Apellido: {{ form.apellido }}</p>
        <h3>Datos Deprtamento</h3>
        <p>Departamento: {{ form.departamento }}</p>
        <p>Abreviacion: {{ form.short_name }}</p>
        <button type="submit">Guardar ;D</button>
    </form>
</body>
</html>