{% extends 'base.html' %}
{% load static %}

{% block title %} GesRes | Actualizar Proveedor {% endblock title %}

{% block content %}
{% include 'includes/header2.html' %}

<div class="grid-container form-container-wrapper">
  <div class="grid-x align-center">
    <div class="cell small-12 medium-10 large-8">

      <div class="text-center" style="margin-bottom: 2rem;">
        <h2 class="hero-title m-0">Actualizar Proveedor</h2>
        <p class="module-text">
          Editando información de: 
          <strong class="text-action-warning">{{ object.nombre }}</strong>
        </p>
      </div>

      <div class="form-card shadow">
        <form method="post">
          {% csrf_token %}

          <div class="grid-x grid-margin-x">

            <div class="cell small-12 medium-8 form-cell">
              <label class="form-label-custom">{{ form.nombre.label }}</label>
              {{ form.nombre }}
              {% if form.nombre.errors %}
                <small class="form-error">{{ form.nombre.errors.0 }}</small>
              {% endif %}
            </div>

            <div class="cell small-12 medium-4 form-cell">
              <label class="form-label-custom">Estado del Proveedor</label>
              <div>
                <label class="module-text display-flex-middle">
                  {{ form.activo }}
                  <p>Activo</p>
                </label>
              </div>
            </div>

            <div class="cell small-12 medium-6 form-cell">
              <label class="form-label-custom">{{ form.num_contacto.label }}</label>
              {{ form.num_contacto }}
              {% if form.num_contacto.errors %}
                <small class="form-error">{{ form.num_contacto.errors.0 }}</small>
              {% endif %}
            </div>

            <div class="cell small-12 medium-6 form-cell">
              <label class="form-label-custom">{{ form.email.label }}</label>
              {{ form.email }}
              {% if form.email.errors %}
                <small class="form-error">{{ form.email.errors.0 }}</small>
              {% endif %}
            </div>

            <div class="cell small-12 form-cell">
              <label class="form-label-custom">{{ form.direccion.label }}</label>
              {{ form.direccion }}
            </div>

            <div class="cell small-12 ">
              <div class="grid-x grid-margin-x">
                
                <div class="cell small-12 medium-4">
                  <button type="submit" class="button btn-form btn-save expanded shadow-sm">
                    Guardar Cambios
                  </button>
                </div>

                <div class="cell small-12 medium-4 mt-mobile-form">
                  <button type="reset" class="button btn-form btn-clear hollow expanded">
                    Revertir
                  </button>
                </div>

                <div class="cell small-12 medium-4 mt-mobile-form">
                  <a href="{% url 'stock_app:all_proveedores' %}" class="button btn-form btn-cancel hollow expanded">
                    Cancelar
                  </a>
                </div>

              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock content %}